<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <p>Texto</p>

    <div class="container">
        <p>Texto</p>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 bg-dark">Columna 5</div>
                <div class="col-lg-5 bg-danger">Columna 5</div>
                <div class="col-lg-5 bg-success">Columna 5</div>
            </div>
        </div>
    </header>

    <header>
        <div class="row">
            <div class="col-md-5 bg-warning">Columna 5</div>
            <div class="col-md-5 bg-info">Columna 5</div>
        </div>
    </header>

    <section>
        Texto
    </section>

    <section class="bg-danger">

        <div class="container bg-warning">
            <div class="row bg-info">
                <div class="col-lg-5 bg-success">5</div>

            </div>

            <div class="row bg-info">
                <div class="col-lg-6 bg-success">6</div>
                <div class="col-lg-4 bg-dark">4</div>
            </div>
        </div>
    </section>

    <h1 class="display-1">Containers</h1>

    <div class="container bg-danger">Container</div>

    <div class="container-fluid bg-success">Container Fluid</div>
</body>
</html>