<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <header class="row">
        <aside class="col-md-12 bg-info">header</aside>
    </header>

    <nav class="row">
        <aside class="col-md-12 bg-primary">nav</aside>
    </nav>

    <section class="row">
        <aside class="col-md-12 bg-secondary">section</aside>
    </section>

    <footer class="row">
        <aside class="col-md-12 bg-info">footer</aside>
    </footer>
</body>

</html>